<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="Grid.Columns.Default" value="8"/>
		<add key="Grid.Rows.Default" value="8"/>
		<add key="Grid.Rows.Max" value="16"/>
		<add key="Grid.Rows.Min" value="6"/>
		<add key="Grid.Columns.Max" value="16"/>
		<add key="Grid.Columns.Min" value="6"/>
		<add key="Players.Max" value="8"/>
		<add key="Players.Min" value="2"/>
		<add key="TurnCount.Default" value="10"/>
		<add key="TurnCount.Max" value="100"/>
		<add key="TurnCount.Min" value="2"/>
	</appSettings>
</configuration>